

.all_shops_page_container .shopList .item{
    width: 215px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    float: left;
    margin: 30px 23px 15px 0px;
}

.all_shops_page_container .shopList .item:nth-child(5n+5){
    margin-right:0px;
}

.all_shops_page_container .shopList .item img{
    width: 213px;
}

.all_shops_page_container .shopList .item .shopName {
    color: #5c9d97;
    font-size: 16px;
    padding: 8px 0;
    text-align: center;
    font-weight: bolder;
}


.all_shops_page_container .shopList .item .description{
    font-size: 13px;
    padding: 0px 12px;
    line-height: 18px;
    height:70px;
    overflow: hidden;
}

.all_shops_page_container .shopList .item .stars{
    // padding-top: 5px;
    // padding-left: 10px;
    float: left;
    padding: 15px 20px 20px 20px;
}

.all_shops_page_container .shopList .item .stars ul li{
     margin: 0 2px;
    float: left;
}


.all_shops_page_container .shopList .item .stars i {
    color: #e5b856;
    font-size: 15px;
}


.all_shops_page_container .shopList .item .likes{
    padding: 10px 12px 10px 0;
    // padding-top: 2px;
    float: right;
    // padding-right: 12px;
    color: #cf6262;
}

.all_shops_page_container .shopList .item .likes i{
     font-size: 18px;
}
