
/****全部商品 side_bar****/

.all_products_page_container .side_bar ul{
    padding: 15px;
    border-bottom: 1px dashed #ccc;
}

.all_products_page_container .side_bar ul li.sort-title{
    font-size: 15px;
    padding:0 0 10px 0;
    font-weight: bolder;
    color: #4d4c4c;
   
}

.all_products_page_container .side_bar ul li a{
    display: block;
    padding: 3px 0;
    font-size: 13px;
    color: #6f6f6f;
}

.all_products_page_container .side_bar ul li a:hover{
    color: #000;
}

/****全部商品 main_container****/

.all_products_page_container .proudectList {
    margin-top: 25px;
}

.all_products_page_container .proudectList .item{
    width: 207px;
    float: left;
    border:1px solid #e6e6e6;
    margin-right: 24px;
    margin-bottom: 30px;
}

.all_products_page_container .proudectList .item:nth-child(4n+4){
   margin-right:0; 
}

.all_products_page_container .proudectList .item img{
    width: 205px;
}

.all_products_page_container .proudectList .item .title{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}

.all_products_page_container .proudectList .item .originalPrice,
.all_products_page_container .proudectList .item .specialPrice{
    text-align: center;
}

.all_products_page_container .proudectList .item .originalPrice{
    font-size: 13px;
    padding-bottom: 5px;
    text-decoration: line-through;
}

.all_products_page_container .proudectList .item .specialPrice{
    font-size: 13px;
    text-align: center;
    padding: 0px 0 12px 0;
}


.all_products_page_container .proudectList .item .specialPrice .specialPriceNum {
    font-size: 16px;
    color: #e64242;
}

