
/* Import cssreset */
@import url("reset.css");
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);




/**********************************************************
************************* 基本設置 ************************
**********************************************************/
body {
    color: #797979;
    font-family: '微軟正黑體',sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

ol, ul ,li{
    list-style: none;
}


a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

/***carousel-control***/

.carousel-control.right,
.carousel-control.left{
    background: none;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next{
    margin-right: -60px;
    color: #262626;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev{
    margin-left: -60px;
    color: #262626;
}

/***bootstrap modify***/
.bx-wrapper{
    margin: 0 auto;
}

.pagination>li>a, .pagination>li>span{
    border-radius: 50%;
    margin: 0 1px;
    color: #a0a0a0;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    background-color: #77d0e4;
    color: #fff;

}


/******************************************
*******************header******************
******************************************/

/**********top bar*******/
.top-bar{
    height: 53px;
    background-image:url("../../images/bk.png"); 
}

.top-bar .top-bar-menu li {
    float: left;
    margin:10px 12px 0 10px;
}

.top-bar .top-bar-menu li a{
	color: #378f9a;
    font-size: 15px;
    font-weight: bolder;
}

.top-bar .top-bar-menu li:nth-child(2){
	position:relative;
}

.top-bar .top-bar-menu li:nth-child(2),
.top-bar .top-bar-menu li:nth-child(1){
    padding-right:20px;
    border-right: 1px dashed #5fa8b0;
}

.top-bar .top-bar-menu li:nth-child(3),
.top-bar .top-bar-menu li:nth-child(4){
   color: #fff;
   letter-spacing: 1px;
   font-size: 14px;
}

.top-bar .top-bar-menu li a{
    display: block;
}

.top-bar .top-bar-menu li a.facebook{
    background: #3a939e;
    padding: 5px;
    color:#fff;
    border: 1px solid #707bba; 
    border-radius: 5px;
}
.top-bar .top-bar-menu li:nth-child(3){
 	padding-top:2px; 
}
.top-bar .top-bar-menu li:nth-child(3) a{
  	background: #cdf3f7;
    padding: 4px 8px;
    border-radius: 5px;
    color: #3a939e;
    font-size:14px;
    border: 1px solid #74c1ca;
}

.top-bar .top-bar-menu li:nth-child(3) a:hover{
  	background: #3a939e;
    color: #fff; 
}

.top-bar .top-bar-menu li a.shopcart{
    position: relative;
}

.top-bar .top-bar-menu li a.shopcart i{
    color: #3a939e;
}

.top-bar .top-bar-menu li a.shopcart .shopcart-total-number{
   right: -10px;
    top: -5px;
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    /* padding: 10px; */
    border-radius: 50px;
    background: #f2c12f;
    border: 1px solid #fff;
    text-align: center;
    line-height: 16px;
}

.top-bar .top-bar-menu li a.login{
    color: #fff;
    padding-top: 5px;
}

.top-bar .top-bar-menu li a.login:hover{
    color: #07535c;
   
}

.top-bar .top-bar-menu img{
    margin-right: 10px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid #fff;
}


/********** header *********/


.logo{
    padding-top: 10px;
    height: 100px;
    margin-bottom: 0px;
    // background: #93d9ea;
}
.slogan{
    font-size: 13px;
    letter-spacing: 1px;
    color:#7d7c7c;
    padding-top: 38px;
}

.slogan span{
    line-height: 16px;
}

.searchProduct{
    padding-top: 35px;
}


.searchStyle{

    background: #8bd1d9;
    color: #fff;
}

.searchStyle:hover{
    background: #6eadb4;
}

.main-nav {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
     
    
}

.main-nav ul li a{
    color: #585858;
    font-size: 15px;
    font-weight: bolder;
    line-height: 30px;
    letter-spacing: 1px;
    border-right: 1px dashed #e8e8e8;

}

/******************************************
*******************footer******************
******************************************/

/****footer****/
.footerWrapper{  
    clear: both;
    position: relative;
    background-color: #436270;
}


.footerWrapper .footerContainer .containerBox{
    margin:120px 30px  20px 20px; 
    float: left;
    // width: 350px;
    height:200px;
} 

.footerWrapper .footerContainer .container-1 li a{
    display: block;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: #eee;
}



.footerWrapper .footerBk{
    position: absolute;
    top:-96px;
    width: 100%;
    height: 160px;
    background-image:url("../../images/footer_bk.png"); 
}

.footerWrapper .footerCopyright{
    background-color: #324e5b;
    padding:20px 0;
    text-align: center; 
    color: #eee;
    letter-spacing: 1px;

}



/******************************************
*******************組件******************
******************************************/


/*每頁的banner*/
.page_banner{
    width: 1170px;
    height: 150px;
    margin: 0px auto;
    overflow: hidden;
}

.page_banner img{
	width: 1170px;
    height: 150px;
}

/*每頁的 page_container*/
.page_container{
    margin: 0 auto;
    width: 1170px;
    margin-top: 50px;
    margin-bottom: 250px;
    overflow: hidden;
}


/*每頁的side_bar*/
.page_container .side_bar{
    width: 230px;
    letter-spacing: 1px;
    // padding: 0 15px;
    float: left;
}



/*每頁的main_container*/

.page_container .main_container_col_1{ 
    width: 100%; 
}


.page_container .main_container_col_2{
    margin-left:40px; 
    width: 900px;
    overflow: hidden;
    float: left;
}


/*每頁的 分頁*/

.page_container .container_pagination
{
    background: #f0f0f0;
    padding: 10px 0;
    overflow: hidden;
    border-radius: 5px;

}
.page_container .container_pagination .container_pagination_title{
    /* height: 50px; */
    font-size: 15px;
    /* line-height: 50px; */
    /* line-height: 15px; */
    padding-top: 10px;
    padding-left: 25px;
}

.page_container .container_pagination .pagination{
    margin: 0;
    margin-right: 30px;    
}

/****main_page_title****/

.main_page_title{
    margin:0 auto; 
    width: 1170px;
    text-align: center;
    padding-top: 20px;
}


/**************************/

.showMemberPannal{
	width: 150px;
    padding: 10px;
    text-align: center;
    border: 2px solid #3e9da8;
    background: #e0f0f2;
    border-radius: 5px;
    position: absolute;
    z-index: 999;
    top: 50px;
}

.showMemberPannal .arrow{
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #3e9da8;
    position: absolute;
    top: -10px;
    left: 62px;
	
}

.showMemberPannal a{
    color: #378f9a;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 0;
   
}

.showMemberPannal a:hover{
	color: #fff;
    background: #9dd6dd;
}

/***********currentShoppingCartList****************/

.currentShoppingCartList{
	position: absolute;
    width: 250px;
    border: 2px solid #8bd1d9;
    height: 200px;
    left: -75px;
    top: 50px;
    z-index: 999;
    background: #fff;
    overflow: auto;
    border-radius: 5px;
    display:none;
}

.currentShoppingCartList p.calculate{
	clear:both;
	font-size:14px;
	text-align: center;
}

.top-bar .top-bar-menu .myshopStore{
	border: 1px solid #57a6af;
    padding: 3px 10px;
    border-radius: 5px;
    background: #6ab3bb;
    color: #eaf5f6;
    font-size: 14px;
    letter-spacing: 1px;
}


.top-bar .top-bar-menu .myshopStore img{
	border-radius: 0px;
    border: none;
    width: 19px;
    height: 18px;
}
}

.top-bar .top-bar-menu li:nth-child(2) .currentShoppingCartList li{
		max-width: 300px;
		padding-bottom: 10px;
	    border-right: none;
	    border-bottom: 1px dashed #ccc;
	    color:#685e5e;
}

.top-bar .top-bar-menu li:nth-child(2) .currentShoppingCartList img{
	margin-right: 10px;
    vertical-align: middle;
    width: 80px;
    height: 60px;
    border-radius: 0px;
    float:left;
}
.top-bar .top-bar-menu li:nth-child(2) .currentShoppingCartList .cartList{
	float:left;
}

.top-bar .top-bar-menu li:nth-child(2) .currentShoppingCartList .cartList p{
	padding: 2px;
    font-size: 12px;
}








